<div class="container" style="margin-top: 10em">
  <h1>Data semua Product</h1>
  <a href="/">Kembali ke halaman data </a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Judul Buku</th>
        <th scope="col">Penulis</th>
        <th scope="col">Genre</th>
        <th scope="col">Jenis Buku</th>
        <th scope="col">Penerbit</th>
        <th scope="col">Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% i=1 %>
      <% result.forEach(datas => { %>
      <tr>
        <td><%= i++%></td>
        <td><%= datas.judul_buku%></td>
        <td><%= datas.penulis%></td>
        <td><%= datas.genre%></td>
        <td><%= datas.jenis_buku%></td>
        <td><%= datas.penerbit%></td>
        <td>
        <a href="#" style="text-decoration:none;">
          <button type="button" class="btn btn-danger">Hapus Data</button>
        </a>
        <a href="#" style="text-decoration:none;">
          <button type="button" class="btn btn-warning">Edit Data</button>
        </a>

      </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
